@charset "utf-8";

/* CSS Document */


/*---------------responsive--------------------*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 24px;
    }
    .main-menu .navbar-nav li {
        margin-right: 35px;
    }
    .top-carousel .carousel-caption h1 {
        padding: 0;
        margin: 0;
    }
    .top-carousel .carousel-caption h2 {
        padding: 0;
        margin: 10px 0;
    }
    .box-green-border,
    .services .box-green-border {
        padding: 45px 10px 20px 30px;
        min-height: 380px;
    }
    .portfolio .medium-text,
    .case-studies-carousel .carousel-caption h2,
    .case-studies-carousel .carousel-caption p {
        margin: 20px 0;
    }
    .blogs .box-green-border {
        min-height: 310px;
        padding: 60px 10px 10px 30px;
    }
    .design-process-content {
        padding-right: 45%;
    }
    .dis-table>div.text-box {
        padding: 10px 30px;
    }
    .dis-table>div img {
        min-width: 440px;
    }
    .main-menu .navbar-nav li {
        margin-right: 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .case-studies-carousel .carousel-inner>.item {
        min-height: 500px;
    }
    ul.social-links li {
        margin-right: 5px;
    }
    .tp-caption h2,
    .tp-caption .h2 {
        margin-left: 43px!important;
    }
    .main-slider .medium-btn.btn.btn-fill{
        margin-left: 43px!important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    .main-menu .navbar-nav li {
        margin-right: 15px;
    }
    .main-menu .navbar-nav li a {
        font-size: 14px;
    }
    .main-menu .navbar-brand>img {
        max-width: 116px;
        margin: 6px 0;
        max-height: 40px;
    }
    .main-menu .navbar-nav li.dropdown a.dropdown-toggle::after {
        margin: 4px;
    }
    .top-carousel a.page-scroll {
        bottom: 0;
    }
    .top-carousel .carousel-caption h1 {
        padding: 0;
        margin: 0;
    }
    .top-carousel .carousel-caption h2 {
        padding: 0;
        margin: 10px 0;
    }
    .top-carousel .carousel-caption hr {
        display: none;
    }
    .box-green-border,
    .services .box-green-border {
        padding: 24px 10px 20px 30px;
        min-height: 380px;
    }
    .portfolio .medium-text,
    .case-studies-carousel .carousel-caption h2,
    .case-studies-carousel .carousel-caption p {
        margin: 10px 0;
    }
    .common-form-section ul {
        margin: 20px 0;
    }
    .success-number .no_count {
        font-size: 24px;
        line-height: 26px;
    }
    .success-number .counter-text {
        margin: 5px 0 50px
    }
    .success-number .counter-inner .icon-holder {
        display: table;
        height: 50px;
    }
    .success-number .counter-inner .icon-holder span {
        display: table-cell;
        vertical-align: middle;
        font-size: 40px;
        line-height: 60px;
    }
    .success-number .counter-inner .icon-holder:after {
        margin: 0 13px;
    }
    .success-number .counter-inner .icon-holder {
        width: 28%;
    }
    .success-number .counter-text p {
        margin-top: 0;
    }
    .case-studies-carousel .carousel-inner>.item {
        min-height: 410px;
    }
    .success-number .counter-inner .icon-holder::after {
        right: 0;
    }
    /*css for website design (inner page)*/
    .design-process-content {
        padding-right: 52%;
    }
    .dis-table>div {
        display: block;
        width: 100%;
    }
    .dis-table>div img {
        max-height: 300px;
        margin: 0 auto;
        width: 100%;
    }
    .dis-table>div.text-box {
        padding: 20px;
    }
    .score-table ul {
        width: 100%;
    }
    .score-table ul li {
        font-size: 20px;
    }
    ul.social-links li {
        margin-right: 5px;
    }
    .portfolio .text-inner {
        top: 10px;
        left: 10px;
    }
    .portfolio .medium-text {
        font-size: 14px;
    }
    .getguoteModal-dialog {
        width: auto;
    }
    .verticl-center-modal .modal-dialog .customise-form {
        margin-bottom: 50px;
    }
    .tp-caption h2,
    .tp-caption .h2 {
        margin-left: 35px!important;
    }
    .main-slider .medium-btn.btn.btn-fill{
        margin-left: 35px!important;
    }
}

@media screen and (max-width: 1199px) {
    .getguoteModal-dialog.potfolio-modal {
        width: auto;
        padding: 0 15px;
    }
    .verticl-center-modal::before {
        height: auto;
    }
    .banner-inner{
        background-attachment: scroll!important;
    }
}

@media screen and (max-width: 767px) {
    /*font-size*/
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    /*menu*/
    .main-menu {
        padding: 18px 0;
    }
    .main-menu .navbar-brand>img {
        max-width: 142px;
        margin: 6px 0;
        max-height: 40px;
    }
    header .header-right {
        float: left !important;
    }
    .main-menu .navbar-toggler .icon-bar,
    .main-menu .navbar-toggle .icon-bar {
        background: #ea580c !important;
    }
    .main-menu .navbar-nav {
        background: transparent;
        padding: 0;
        margin-top: 8px;
    }
    .main-menu .navbar-nav li {
        margin-right: 0;
    }
    .main-menu .navbar-nav a {
        border-bottom: none;
        padding: 8px 12px;
    }
    .main-menu .navbar-nav a:hover {
        color: #ea580c !important;
    }
    .main-slider .btn.btn-fill,
    .main-slider .btn.btn-nofill {
        display: none !important;
    }
    .tp-parallax-wrap.tp-parallax-container {
        left: 20px;
        white-space: normal !important;
    }
    .tp-loop-wrap,
    .tp-mask-wrap {
        position: relative !important;
        white-space: normal !important;
    }
    .tp-caption h2,
    .tp-caption .h2 {
        font-size: 24px !important;
        white-space: normal !important;
        line-height: normal !important;
    }
    .tp-caption {
        display: none !important;
    }
    .caption-mobile {
        top: 50%;
        position: absolute !important;
        color: #fff;
        transform: translateY(-24%);
        left: 20px;
        right: 20px;
    }
    .caption-mobile .h2 {
        font-size: 22px !important;
    }
    .top-carousel .carousel-inner img,
    .case-studies-carousel .carousel-inner img {
        min-height: 300px;
    }
    .top-carousel {
        padding-top: 133px;
    }
    .owl-pagination {
        display: none;
    }
    .top-carousel .carousel-inner>.item {
        height: calc(100% - 133px);
        height: -moz-calc(100% - 133px);
        height: -webkit-calc(100% - 133px);
    }
    .top-carousel a.page-scroll {
        bottom: -6px;
    }
    .top-carousel a.page-scroll p {
        margin-bottom: 0;
    }
    .top-carousel .carousel-caption {
        left: 20px;
        right: 20px;
    }
    .top-carousel .carousel-caption h1 {
        padding: 0;
        margin: 0;
    }
    .top-carousel .carousel-caption h2 {
        padding: 0;
        margin: 10px 0;
    }
    .top-carousel .carousel-caption hr {
        display: none;
    }
    .clients img,
    .portfolio img,
    .blogs img {
        display: block;
        margin: 15px 0;
    }
    .blog-left .blog-img {
        width: 100%;
    }
    .blog-left .featured-tag {
        margin: 0;
    }
    .box-green-border {
        padding: 40px 10px 24px;
        min-height: auto;
    }
    .box-green-border a {
        font-size: 20px;
        margin: 30px 0 15px;
        font-weight: 600;
    }
    .box-green-border p {
        font-size: 16px;
    }
    .portfolio .medium-text,
    .case-studies-carousel .carousel-caption h2,
    .case-studies-carousel .carousel-caption p {
        margin: 10px 0;
    }
    .bg-white {
        padding-top: 45px;
    }
    .common-form-section ul {
        margin: 20px 0;
    }
    .common-form-section .btn {
        margin-bottom: 0;
    }
    .common-form-section form .form-element-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    .common-form-section ul li {
        font-size: 16px;
        line-height: 34px;
        margin-bottom: 15px;
        display: flex;
    }
    .common-form-section h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    /*portfolio*/
    .protfolio-4>img {
        min-height: 200px;
    }
    .portfolio .text-inner {
        top: 54px;
    }
    .portfolio img {
        margin-bottom: 0;
    }
    .btn.btn-fill.full-width {
        margin: 30px auto;
        max-width: inherit;
    }
    .success-number .counter-inner .icon-holder {
        display: table;
        height: 50px;
    }
    .success-number .counter-inner .icon-holder span {
        display: table-cell;
        vertical-align: middle;
    }
    .success-number .counter-inner .icon-holder:after {
        margin: 0 13px;
    }
    .blogs .blog-left {
        padding: 0 10px 0;
        margin-top: 22px;
    }
    .blogs .blog-left .box-green-border {
        padding: 40px 10px;
    }
    .blog-post-share ul.social-links li:first-child {
        display: block;
        text-align: left;
        margin-bottom: 14px;
    }
    footer .light-ash-bg ul li,
    footer .light-ash-bg ul li,
    footer .light-ash-bg ul li.big-width {
        width: 100%;
    }
    .case-studies-carousel .carousel-inner>.item>img {
        min-height: 450px;
    }
    .case-studies-carousel .carousel-indicators {
        bottom: -44px;
    }
    .common-form-section {
        padding-top: 99px;
    }
    .btn.btn-fill .icon-chevron-right {
        margin-left: 3px;
    }
    .blogs .box-green-border {
        padding: 40px 0;
    }
    footer .customise-form .customised-formgroup {
        margin-bottom: 20px;
    }
    footer .regular-text {
        font-size: 16px;
    }
    footer .light-ash-bg ul ul li {
        margin-bottom: 10px;
    }
    footer .light-ash-bg ul ul li:first-child {
        margin-top: 30px;
    }
    footer .light-ash-bg ul.social-links li:first-child {
        margin-top: 0;
    }
    footer .light-ash-bg {
        padding-top: 17px;
    }
    .success-number .counter-inner .icon-holder {
        width: 29%;
    }
    .clients {
        padding: 15px 0;
    }
    .case-studies-section {
        margin-top: 20px;
    }
    .main-menu .navbar-nav a:active,
    .main-menu .navbar-nav a.active,
    .main-menu .navbar-nav a:active:focus,
    .main-menu .navbar-nav a.active:hover {
        border-width: 1px;
    }
    .top-carousel .btn.btn-nofill {
        margin-left: 14px !important;
    }
    .success-number .counter-text p {
        margin-top: 0;
    }
    .success-number .counter-text {
        margin-top: 0;
    }
    .portflio-content .box-content-with-img {
        margin: 15px auto !important;
    }
    .pro-controls .filter {
        margin: 3px 10px;
    }
    /*css for website desin (inner page)*/
    .service-description-section {
        padding-top: 20px !important;
    }
    .design-process-content {
        padding: 15px;
    }
    .design-process-content img {
        position: static;
    }
    .dis-table>div {
        display: block;
        width: 100%;
    }
    .dis-table>div img {
        min-width: auto;
        margin: 0 auto;
        width: 100%;
        height: 300px;
    }
    .dis-table>div.text-box {
        padding: 30px 20px;
    }
    .score-table ul {
        width: 100%;
        margin: 0;
    }
    .score-table ul li {
        width: 100%;
        font-size: 18px;
    }
    .blog-content .box-content-with-img {
        margin: 0 auto;
        width: 100%;
    }
    
    .blog-p2.blog-content.blog-p2.blog-content [class^="col-"]:not(.btn-holder),
    .blog-rel-post .row [class^="col-"]:not(.btn-holder) {
        margin-bottom: 30px;
    }
    .blog-content .box-content-with-img img,
    .blog-rel-post .box-content-with-img img{
        width: 100%;
    }
    /*css for modal*/
    .modal-content {
        padding: 10px;
    }
    .contact-info-box span {
        font-size: 30px;
        padding-right: 12px;
    }
    .contact-info-box h6 {
        font-size: 20px;
    }
    .contact-info-box {
        padding: 15px 10px;
    }
    .contact-info-box p {
        font-size: 14px;
    }
    .contact-info-box>div {
        margin-left: 18px;
    }
    .contact-info-box .social-links li a {
        width: 26px;
        height: 26px;
        line-height: 28px;
    }
    .contact-info-box .social-links li a span {
        font-size: 16px;
    }
    .contact-info-box .social-links li {
        margin-bottom: 0px;
        text-align: center;
    }
    .contact-info-box .social-links {
        margin: 9px 0;
        text-align: center;
    }
    .process-model.contact-us-tab {
        margin-top: 23px;
    }
    .contact-us-tab li p {
        margin-top: 20px;
    }
    .google-map-location {
        margin-bottom: 43px;
    }
    .getguoteModal-dialog {
        width: auto;
    }
    ul.social-links li {
        display: inline-block;
    }
    .google-map-location .tab-pane img {
        min-height: auto;
    }
    .modal-header .close {
        right: 9px;
        top: 9px;
    }
    .small-image-width {
        width: 100%;
    }
    .small-image-width img {
        width: 100%;
    }
    .success-number .col-sm-4 {
        width: 100%;
    }
    .success-number .counter-inner .icon-holder span {
        line-height: 50px;
        font-size: 46px;
    }
    /*responsive for case studies page*/
    .case-studies-content {
        margin-top: 60px;
    }
    .pagination-case {
        margin-top: 10px;
    }
    .box-content-with-img .box-content-text h3 {
        margin-top: 1px;
    }
    .box-content-with-img {
        margin-bottom: 0 !important;
        margin-top: 10px;
    }
    .pagination-case .pagination {
        margin-bottom: 9px;
    }
    .product-section .btn.btn-fill.full-width {
        margin-bottom: 20px;
        margin-top: 0;
    }
    .long-box-wrapper .col-sm-6 {
        width: 100%;
        margin-bottom: 20px;
    }
    .long-box-wrapper .col-sm-6 .box-content-with-img img {
        width: 100%;
    }
    .product-section {
        padding-top: 30px;
    }
    .pro-controls {
        margin-top: 2px;
        margin-bottom: 10px;
    }
    .banner-inner p br {
        display: none;
    }
    .common-form-section {
        padding-top: 45px;
    }
    .about-content {
        margin-top: 20px;
    }
    .about-img {
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
    }
    .about-box {
        margin-top: 105px;
    }
    .about-box.firstItem {
        margin-top: 89px;
    }
    .google-map-location {
        margin-bottom: 50px;
    }
    .blog-content .btn.btn-fill.full-width {
        margin-top: 0;
    }
    .blog-seo-cat {
        padding-bottom: 20px;
    }
    .blog-details-content ul li p.gray-text {
        font-size: 14px;
        margin-bottom: 22px;
    }
    .blog-details-content ul li {
        margin-right: 0;
    }
    .blog-details-content ul {
        margin-bottom: 0;
    }
    .blog-details-content img {
        margin-bottom: 20px;
    }
    .author-sec {
        padding-top: 39px!important;
    }
    .blogger-img {
        margin-top: 15px;
    }
    .blog-description {
        margin-left: 15px;
    }
    .blog-rel-post {
        padding-top: 37px!important;
    }
    .blog-rel-post .box-content-with-img {
        margin-top: 15px;
        margin-bottom: 15px !important;
        -ms-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;
    }
    .blog-design-category {
        padding-bottom: 5px;
    }
    .blog-media img,
    .blog-media .video,
    .blog-media iframe {
        width: 100% !important;
    }
    .banner-inner {
        margin-bottom: 35px;
    }
    .common-form-section .btn {
        margin-top: 13px!important;
        margin-bottom: 4px!important;
    }
    .common-form-section .btn.full-width {
        margin-top: 32px!important;
    }
    .design-process-section {
        padding-top: 42px;
    }
    .margin-top-40 {
        margin-top: 30px;
    }
    .featured-design-section img {
        margin-bottom: 10px;
    }
    .featured-design-section .btn.btn-fill.full-width {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .verticl-center-modal::before {
        height: auto;
    }
    .modal-body {
        padding-left: 5px;
        padding-right: 5px;
    }
    .potfolio-modal .carousel-inner>.item {
        min-height: 190px;
    }
    .thumb-list li {
        width: 30%;
    }
    .long-box-wrapper .btn.btn-fill.full-width {
        margin-top: 20px;
        margin-bottom: 26px;
    }
    .portfolio img {
        margin-bottom: 15px;
    }
    .portfolio .btn.btn-fill.full-width {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .why-us {
        padding-top: 80px;
        padding-bottom: 46px;
    }
    .blogs .box-green-border
    .news .box-green-border {
        margin-bottom: 0;
        padding: 20px 0 40px;
    }
    .blogs {
        padding-bottom: 0;
    }
    .blogs .btn.full-width {
        margin-bottom: 20px!important;
    }
    .success-number .counter-inner {
        padding-bottom: 0;
    }
    .success-number .counter-text {
        padding-bottom: 35px;
    }
    .modal-content .btn.btn-fill {
        margin-top: 19px;
    }
    .verticl-center-modal .modal-dialog .customise-form {
        margin-bottom: 50px;
    }
    .modal-content .contact-info-box-wrapper {
        margin-top: 45px;
    }
    .port-modal-content {
        margin-top: 29px;
    }
    .common-form-section.contact-form-wrapper {
        padding-top: 8px;
    }
    .common-form-section.contact-form-wrapper .contact-form .col-sm-6 {
        width: 100%;
    }
    .contact-form-wrapper .contact-form .btn-fill {
        margin: 4px 0 8px!important;
        width: 100%;
    }
    .contact-info-box {
        margin-bottom: 30px;
        max-width: inherit;
    }
    .case-studies-details-banner {
        margin-bottom: 0;
    }
    .dis-table {
        margin-top: 15px;
    }
    .dis-table>div.text-box {
        padding: 25px 20px;
    }
    .score-table {
        margin-top: 24px;
    }
    .main-menu .navbar-nav>li,
    .navbar-right li.btn.btn-fill {
        margin: 0 20px;
    }
    .navbar-right li.btn.btn-fill {
        margin-top: 25px;
    }
    .customise-form.contact-form .msg p{
        bottom: -13px;
    }
    .more-about{
        padding: 30px;
    }
    .services .box-green-border {
        padding: 20px 10px 20px 30px;
    }
    .portfolio,.news{
        padding-top: 37px;
    }
    .news{
        padding-bottom: 0;
        padding-top: 37px;
    }
    .services{
        padding-top: 57px;
    }
    .portfolio-full.portfolio{
        padding-top: 15px;
    }
    .logo-b.portfolio .grid-item{
        margin-bottom: 5px;
    }
    .portfolio .text-content h3{
        margin-top: 8px;
    }
    .featured-design-section{
        padding-top: 57px;
    }
    .bg-white.long-box-wrapper{
        padding-top: 57px;
    }
    .m90{
        margin-top: 0;
    }
    .case-studies-content .pagination-case .pagination{
        margin-bottom: 18px;
    }
    .main-menu .navbar-nav>li:not(.btn)>a:hover, .main-menu .navbar-nav>li:not(.btn)>a:hover, .main-menu .navbar-nav>li:not(.btn)>a:active, .main-menu .navbar-nav>li:not(.btn)>a.active{
        background: transparent!important;
        color: #fb8104!important;
    }
    .main-menu .navbar-nav li>.dropdown-menu{
        box-shadow: none;
    }
    .main-menu .navbar-nav>li:not(.btn)>a:hover::after{
        color: #fb8104!important;
    }
    .blog-p2.blog-content{
        padding-top: 57px;
    }
    .blog2-margin-footer{
        margin-top: 60px;
    }
    .portfolio{
        padding-top: 37px;
    }
    .portfolio .grid-item{
        margin-bottom: 30px;
    }
    .portfolio .text-content{
        padding-top: 10px;
    }
    .port-dms{
        margin-top: 10px;
    }
    .blog-content{
        margin-top: 30px;
    }
    .portfolio-page .featured-design-section{
        padding-top: 37px;
    }
}

@media screen and (max-width: 560px) {
    header ul.header-right a,
    .portfolio .medium-text {
        font-size: 14px !important;
    }
    .top-carousel .carousel-caption .btn {
        max-width: 100%;
        margin: 20px 0 !important;
        display: block;
    }
    .medium-btn2.btn.btn-nofill {
        display: block;
    }
    .portfolio .medium-text {
        margin: -4px 0 4px;
    }
    .case-studies-carousel .carousel-indicators li {
        height: 50px;
        margin-right: 11px;
        width: 50px;
        background-size: 100%;
    }
    .case-studies-carousel .carousel-indicators li.active {
        margin: 1px 7px 1px 1px;
    }
    .case-studies-carousel .carousel-indicators li>div {
        height: 50px;
        width: 50px;
    }
    .case-studies-carousel .carousel-inner>.item {
        min-height: 420px;
    }
    .counter-inner .icon-holder {
        width: 24%;
    }
    .success-number .counter-text {
        margin: 0;
    }
    .success-number .counter-inner {
        padding: 15px 0 25px;
    }
    .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
    .port-cat-con .por-overley {
        padding-top: 15%;
    }
    .portfolio img {
        min-height: 240px;
    }
    .port-cat-con .mix {
        width: 100%;
    }
    .mix .text-inner {
        padding-top: 17%;
    }
    .featured-design-section .col-sm-6 {
        width: 100%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .featured-design-section .col-sm-6 img {
        width: 100%;
    }
}

@media screen and (max-width: 412px) {
    .process-model li p {
        font-size: 11px;
    }
    .top-carousel .carousel-caption .btn {
        width: 100%;
    }
    div.text-box ul li,
    .dis-table>div.text-box p {
        line-height: 26px;
        font-size: 15px;
    }
    .dis-table>div.text-box.less-padding,
    .score-table {
        padding: 25px 20px;
    }
}

@media screen and (max-width: 380px) {
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
    header ul.header-right li {
        margin-right: 10px;
    }
}


/************
CSS By Juwel
*************/

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .portfolio .medium-text,
    .case-studies-carousel .carousel-caption h2,
    .case-studies-carousel .carousel-caption p {
        margin: 20px 0;
    }
    .case-studies-carousel .carousel-inner>.item img {
        margin-top: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .blogs .box-green-border {
        padding-top: 38px;
    }
    .blogs .box-green-border {
        padding-top: 0;
    }
}

@media screen and (max-width: 1199px) {
    .portfolio .grid-item {
        width: 50%;
    }
    .case-studies-carousel .carousel-inner>.item {
        z-index: 1;
    }
    .case-studies-carousel .carousel-inner>.item p {
        text-shadow: none;
        color: #ffffff;
    }
    .case-studies-carousel .carousel-caption a {
        font-weight: 600;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .portfolio .medium-text,
    .case-studies-carousel .carousel-caption h2,
    .case-studies-carousel .carousel-caption p {
        margin: 10px 0;
    }
    .case-studies-carousel .carousel-inner .floating-img {
        padding: 30px 15px 0;
        margin-top: 0;
    }
    .portfolio .medium-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .case-studies-carousel .carousel-inner .floating-img .pull-right {
        float: left!important;
    }
    .order-left{
        -webkit-box-ordinal-group: unset;
        -moz-box-ordinal-group: unset;
        -ms-flex-order: unset; 
        -webkit-order: unset; 
        order: unset;
    }
}

@media screen and (max-width: 767px) {
    .clients img,
    .portfolio img,
    .blogs img {
        display: block;
        margin: 15px 0;
    }
    .case-studies-section {
        margin-top: 30px;
    }
    .portfolio .medium-text,
    .case-studies-carousel .carousel-caption h2,
    .case-studies-carousel .carousel-caption p {
        margin: 10px 0;
    }
    .case-studies-carousel .carousel-inner .floating-img {
        padding: 30px 15px 0;
    }
    /*portfolio*/
    .protfolio-4>img {
        min-height: 200px;
    }
    .portfolio img {
        margin-bottom: 0;
    }
    /*css for modal*/
    .modal-content {
        padding: 10px;
    }
    .modal-header .close {
        right: 9px;
        top: 9px;
    }
    .design-process-section {
        padding-top: 52px;
    }
    .margin-top-40 {
        margin-top: 30px;
    }
    .featured-design-section img {
        margin-bottom: 10px;
    }
    .featured-design-section .btn.btn-fill.full-width {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .verticl-center-modal::before {
        height: auto;
    }
    .modal-body {
        padding-left: 5px;
        padding-right: 5px;
    }
    .potfolio-modal .modal-body {
        padding: 50px 5px;
    }
    .portfolio img {
        margin-bottom: 15px;
    }
    .portfolio .btn.btn-fill.full-width {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .port-modal-content {
        margin-top: 29px;
    }
    .potfolio-modal .thumb-list li {
        width: calc((100% - 10px) / 3);
        cursor: pointer;
        margin: 0!important;
        padding: 0;
    }
}

@media screen and (max-width: 560px) {
    header ul.header-right a,
    .portfolio .medium-text {
        font-size: 14px !important;
    }
    .top-carousel .carousel-caption .btn {
        max-width: 100%;
        margin: 20px 0 !important;
        display: block;
    }
    .portfolio .medium-text {
        margin: -4px 0 4px;
    }
    .case-studies-carousel .carousel-indicators {
        bottom: -33px;
    }
    .case-studies-carousel .carousel-indicators li {
        height: 50px;
        margin: 0 5px;
        width: 50px;
        background-size: cover;
    }
    .portfolio .grid-item {
        width: 100%;
    }
    .portfolio .filter-button-group {
        text-align: left;
        margin-left: -10px;
        margin-bottom: 10px;
    }
    .portfolio .filter-button-group button {
        margin: 0 10px 10px;
    }
}

@media screen and (max-width: 412px) {
    .case-studies-carousel .carousel-caption .row .col-sm-12:first-child {
        min-height: 300px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .main-menu .navbar-nav>li>a:not(.btn) {
        font-size: 12px;
    }
}